/*
** freePee CSS
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Passion+One:400');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.no-scroll {
    overflow: hidden;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
}

header {
    background: #05b1be;
    padding: 12px 18px;
    color: white;
    font-family: 'Passion One', 'cursive';
    font-size: 1.9em;
    text-align: center;
    z-index: 200;
}

nav {
    background: #FCFCFC;
    box-sizing: border-box;
    min-width: 200px;
    padding: 18px;
    overflow: auto;
    z-index: 100;
}

nav ul li {
    list-style: none;
    margin-bottom: 18px;
    color: #999999;
    font-weight: 400;
}

nav ul li.heading {
    color: black;
    font-weight: 700;
}

nav ul li:last-child {
    margin-bottom: 0;
}

input[type="checkbox"],
input[type="radio"] {
    float: right;
    margin-top: 5px;
}

/*
** ON/OFF SWITCH
*/

.onoffswitch {
    position: relative; width: 30px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: right;
    margin-top: 4px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 12px; padding: 0; line-height: 12px;
    border: 2px solid #CCCCCC; border-radius: 12px;
    background-color: #FCFCFC;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block; width: 12px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 14px;
    border: 2px solid #CCCCCC; border-radius: 12px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #FF9900;
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #FF9900;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

.active {
    color: #05b1be;
    font-weight: 700;
}

nav ul li .onoffswitch:hover + span {
    color: #05b1be;
}

.hr {
    height: 1px;
    width: 100%;
    background: grey;
}

/* NAV BURGER */

header .toggle-nav-mobile {
    display: none;
    float: right;
    width: 30px;
    height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

header .toggle-nav-mobile span,
header .toggle-nav-mobile span:before,
header .toggle-nav-mobile span:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

header .toggle-nav-mobile span:before {
    top: 9px;
}

header .toggle-nav-mobile span:after {
    top: -12px;
}


/* X INSTEAD OF LINES */

header .toggle-nav-mobile.is-open span:before {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
}

header .toggle-nav-mobile.is-open span:after {
    top: -2px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

header .toggle-nav-mobile.is-open span {
    background: transparent;
}

/*
** MEDIA QUERIES
*/

@media (max-width: 780px) {
    nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    header .toggle-nav-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    header {
        text-align: left;
    }
}

/*
** GOOGLE MAPS BG IMAGE (WILL BE REPLACED)
*/

.maps {
    width: 100%;
    background-image: url('../img/map2.png');
    background-size: cover;
    background-position: center center;
}
