<!DOCTYPE html>
<html lang="da" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>freePee | pee for free</title>

        <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
        <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyByV3M4g0RhZsBNkT0thElXstagsDAZD8k"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
    </head>
    <body class="no-scroll">
        <!-- Page wrapper -->
        <div class="wrapper">
            <!-- Top header -->
            <header>
                <img src="img/logo/logo-white.svg" class="logo" alt="logo" />
                <!-- Nav-burger -->
                <div class="toggle-nav-mobile">
                    <span></span>
                </div>
            </header>
            <!-- Content container -->
            <div class="content">
                <!-- Navigation -->
                <nav>
                    <ul>
                        <li class="heading">
                            Vælg toilet type
                        </li>
                        <li class="active">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="toilet" checked>
                                <label class="onoffswitch-label" for="toilet"></label>
                            </div>
                            <span>Toiletter</span>
                        </li>
                        <li class="active">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="handicap" checked>
                                <label class="onoffswitch-label" for="handicap"></label>
                            </div>
                            <span>Handicap</span>
                        </li>
                        <li class="active">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="pissoir" checked>
                                <label class="onoffswitch-label" for="pissoir"></label>
                            </div>
                            <span>Pissoir</span>
                        </li>
                        <li><div class="hr"></div></li>
                        <li class="heading">
                            Vælg område
                        </li>
                        <li class="active">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="odense" checked>
                                <label class="onoffswitch-label" for="odense"></label>
                            </div>
                            <span>Odense</span>
                        </li>
                        <li>
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="kobenhavn">
                                <label class="onoffswitch-label" for="kobenhavn"></label>
                            </div>
                            <span>København</span>
                        </li>
                        <li>
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="aarhus">
                                <label class="onoffswitch-label" for="aarhus"></label>
                            </div>
                            <span>Aarhus</span>
                        </li>
                        <li><div class="hr"></div></li>
                        <li class="heading">
                            Vælg radius
                        </li>
                        <li>
                            <form ng-controller="SliderController">
                                <input class="slider" type="range" name="range" ng-model="Slider.value" max="1000" min="100" step="100">
                                <span style="display: block">Radius: {{Slider.value}} m</span>
                            </form>
                        </li>
                    </ul>
                </nav>
                <!-- Map -->
                <div id="mapContainer" ng-controller="GetUserPositionController as userPosCtrl">
                    <ng-map default-style="true" center="[{{position.toJSON('lat').lat}},{{position.toJSON('lng').lng}}]" zoom="15" class="map" ng-controller="MarkerController as vm">
                        <!-- Current position -->
                        <marker position="[{{position.toJSON('lat').lat}},{{position.toJSON('lng').lng}}]" icon="{path:'CIRCLE', scale: 7, fillColor: '#01b1be', fillOpacity: 1, strokeWeight: 2, strokeColor: '#fcfcfc'}">
                        </marker>
                        <div ng-controller="SliderController">
                            <shape fill-color='#01b1be' fill-opacity='0.2' stroke-weight='0' id='circle' name="circle" radius="{{Slider.value}}" center="[{{position.toJSON('lat').lat}},{{position.toJSON('lng').lng}}]" />
                        </div>

                        <!-- All markers -->
                        <marker id='{{toilet.id}}' position="[{{ toilet.lat }}, {{ toilet.lng }}]"
                            ng-repeat="toilet in vm.myMarkers"
                            on-click="vm.showDetail(toilet)">
                        </marker>

                        <!-- Info window -->
                        <info-window id="toilet-iw">
                            <div ng-non-bindable="">
                                <strong>Adresse: </strong>{{vm.toilet.address}}<br>
                                <strong>Åbningstider: </strong>{{vm.toilet.opening_hours}}<br>
                                <strong>Type: </strong><span class="uppercase">{{vm.toilet.type}}</span><br>
                                <strong>Pris:</strong> {{vm.toilet.price}}<br><br>
                                <a href="#">Vis vej hertil</a>
                            </div>
                        </info-window>
                    </ng-map>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/nav.js"></script>
    </body>
</html>
